
* {
	font-family: Arial, Helvetica, sans-serif;
}

.winner-joy {
	background-image: url('winner.gif');
}

.my-primary-text {
	color: #2d25a0;
	font-weight: 900;
	font-size: 48px;
}

.my-primary-bg {
	background-color: #2d25a0;
}

.my-secondary-bg {
	background-color: #e02c6d;
}

.score-area {
	height: 80px;
}

.container {
	position: relative;
}

#secrate-num {
	height: 200px;
	width: 200px;
	position: absolute;
	right: 3%;
	top: 60%;
	display: inline-block;
}

#sNumberReveal {
	font-size: 100px;
	text-align: center;
	display: inline-block;
	width: 100%;
}

#snScore {
	margin-top: -25%;
}

.counters {
	position: absolute;
	top: 35%;
	left:40%;
	font-size: 1rem;
	font-weight: 900;
}

#countDown3 {
	opacity: 0;
	animation-name: counter;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay:  0;
}

#countDown2 {
	opacity: 0;
	animation-name: counter;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 1s;
}

#countDown1 {
	opacity: 0;
	animation-name: counter;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 2s;
}

@keyframes counter{

	0%{
		font-size: 1rem;
		opacity: 1;
	}
	100%{
		font-size: 20rem;
		opacity: 0;
	}
}



@media only screen and (max-width: 991px){

	#secrate-num {
		height: 200px;
		width: 200px;
		position: absolute;
		right: 0;
		top: 55%;
		display: inline-block;
	}
}

@media only screen and (max-width: 767px){

	body {
		height: 725px;
	}
	#secrate-num {
		height: 200px;
		width: 200px;
		position: absolute;
		top: 102%;
		display: block;
		left: 22%;
	}
}